@charset "utf-8";

/**
 * @site Space tourism website
 * @author Victor Brito
 */

@use "base/mixins" with (
    // Also update `js/scripts.js`
    $media-queries-breakpoints: (
        horizontal-menu: 600,
        desktop: 800,
        wide-menu: 997,
        multicol-home-content: 1120,
        multicol-article: 1182,
        wide-technology-multicol-article: 1280,
        wide-destination-multicol-article: 1327,
        wide-multicol-stats: 1390
    )
);
// @use "base/mixins";
@use "variables";
@use "base/reset";
@use "base/print";
@use "typo/font-face";
@use "typo/typo";
@use "layout/layout";
@use "layout/header";
@use "layout/menu";
@use "layout/article";
@use "layout/home";
@use "layout/slider";