@charset "utf-8";

/**
 * @site Space tourism website
 * @author Victor Brito
 */

@use "base/mixins" with (
    $media-queries-breakpoints: (
        horizontal-menu: 600,
        desktop: 800,
        wide-menu: 997,
        multicol-home-content: 1120
    )
    // Add the enabled browser support to take into account here if different from the default browser enabled support
    // Add the minimal browser version to take into account here if different from the default browser support
);
// @use "base/mixins";
@use "variables";
@use "base/reset";
@use "base/print";
@use "typo/font-face";
@use "typo/typo";
@use "layout/layout";
@use "layout/header";
@use "layout/menu";
@use "layout/home";