@charset "utf-8";
@use "../base/mixins" as *;

/** @section General layout for articles */

article {
    h1 {
        font-size: var(--article-title-text);
        line-height: 1.5;
        letter-spacing: var(--article-title-letter-spacing);
        font-family: var(--condensed-font);
        color: var(--secondary-colour);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3.2rem;
        &::before {
            font-weight: bold;
            color: var(--secondary-colour-number);
            margin-right: 1.6rem;
            content: "0" attr(data-article-number);
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        &:not(:first-of-type) {
            margin-top: 5.8rem;
        }
        h2,
        p,
        dt,
        dd {
            text-align: center;
        }
        h2,
        dl {
            text-transform: uppercase;
        }
        h2,
        dt,
        dd {
            line-height: 1.5;
        }
        h2,
        dd {
            font-family: var(--serif-font);
            color: var(--secondary-colour);
        }
        h2 {
            font-size: var(--article-subtitle-text);
            margin-bottom: 1.6rem;
        }
        dl {
            margin-top: 3.2rem;
            border-top: 1px solid var(--primary-border-colour);
        }
        dt {
            font-size: var(--definition-text);
            letter-spacing: var(--definition-letter-spacing);
            font-family: var(--condensed-font);
            margin: 3.2rem 0 1.2rem;
        }
        dd {
            font-size: var(--value-text);
        }
        picture {
            display: block;
            order: -1;
            margin: 0 auto 7.4rem;
        }
        .destination & {
            h2 {
                font-size: var(--title-large-text);
                margin-bottom: .1rem;
            }
        }
        .crew & {
            &:not(:first-of-type) {
                margin-top: 5.4rem;
            }
            h2 {
                span {
                    font-size: 1.6rem;
                    color: var(--secondary-colour-function);
                    display: block;
                    margin-bottom: .8rem;
                }
            }
        }
    }
    @include css-media-queries ($below-breakpoint: horizontal-menu) {
        .card {
            .crew & {
                picture {
                    text-align: center;
                    margin-right: 0;
                    margin-left: 0;
                    border-bottom: 1px solid var(--primary-border-colour);
                }
            }
        }
    }
    @include css-media-queries ($from-breakpoint: horizontal-menu) {
        h1 {
            text-align: initial;
            margin-bottom: 6rem;
        }
        .card {
            padding: 0 5.9rem;
            &:not(:first-of-type) {
                margin-top: 6.2rem;
            }
            h2 {
                margin-bottom: .8rem;
            }
            dl {
                column-count: 2;
                gap: 1.1rem;
                padding-top: 2.8rem;
                margin-top: 4.9rem;
            }
            dt {
                margin-top: 0;
            }
            picture {
                margin-bottom: 11.9rem;
            }
        }
        .crew & {
            margin-bottom: -6.2rem;
            .card {
                &:not(:first-of-type) {
                    margin-top: 6rem;
                }
                h2 {
                    span {
                        font-size: 2.4rem;
                    }
                }
                picture {
                    order: 1;
                    margin-bottom: 0;
                }
            }
        }
    }
    @include css-media-queries ($from-breakpoint: wide-menu) {
        .crew & {
            margin-bottom: -9.4rem;
            h1 {
                margin-bottom: 15.4rem;
            }
            .card {
                display: grid;
                grid-template: repeat(2, auto) / 1fr minmax(auto, 70.5rem);
                column-gap: 2rem;
                padding: 0;
                margin-right: -16.3rem;
                h2,
                p {
                    text-align: initial;
                }
                h2 {
                    align-self: flex-end;
                    margin-top: 0;
                    margin-bottom: 2.7rem;
                    span {
                        font-size: 3.2rem;
                        margin-bottom: 1.5rem;
                    }
                }
                p {
                    max-width: 44.4rem;
                }
                picture {
                    display: initial;
                    grid-row: 1 / -1;
                    grid-column: 2;
                    margin: 0;
                }
            }
        }
    }
    @include css-media-queries ($from-breakpoint: multicol-article) {
        h1 {
            margin-bottom: 9.7rem;
        }
        .card {
            display: grid;
            grid-template: repeat(2, auto) / 1fr auto;
            column-gap: 13rem;
            padding-right: 0;
            padding-left: 6.35rem;
            h2,
            p,
            dt,
            dd {
                text-align: initial;
            }
            h2 {
                margin-top: 3.7rem;
                margin-bottom: 1.4rem;
            }
            dl {
                margin-top: 5.4rem;
            }
            picture {
                grid-row: 1 / -1;
                margin-bottom: 0;
            }
            .destination & {
                grid-template: repeat(3, auto) / 30rem 1fr;
                column-gap: 15.7rem;
                &:not(:first-of-type) {
                    margin-top: 11.2rem;
                }
            }
        }
        // .technology & {
        //     margin-right: -16.3rem;
        //     .card {
        //         padding-left: 0;
        //     }
        // }
    }
    @include css-media-queries ($from-breakpoint: wide-multicol-stats) {
        .card {
            dl {
                gap: 7.9rem;
            }
        }
    }
    @include css-media-queries ($from-breakpoint: wide-destination-multicol-article) {
        .card {
            .destination & {
                grid-template-columns: 44.5rem 1fr;
            }
        }
    }
}