@charset "utf-8";
@use "../base/mixins" as *;

/** @section Header */

#header {
    #skip-link {
        position: absolute;
        top: 3.3rem;
        right: 2.4rem;
    }
    a {
        display: inline-block;
    }
    @include css-media-queries ($from-breakpoint: horizontal-menu) {
        #skip-link {
            @include css-visually-hidden;
        }
    }
}