@charset "utf-8";
@use "../base/mixins" as *;

/** @section Slider */

.slider-container {
    padding-bottom: 5.7rem;
    overflow-x: hidden;
    position: relative;
    .slider-navigation {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 25.5rem;
        right: 0;
        left: 0;
        z-index: 1;
        ul {
            display: flex;
            gap: 1.6rem;
            list-style: none;
            margin-right: auto;
            margin-left: auto;
        }
        a {
            color: inherit;
            display: block;
        }
        circle {
            fill: var(--secondary-colour);
        }
    }
    .cards {
        --card-width: calc(100vw - 4.8rem);
        display: flex;
        transition: transform 500ms ease-in-out;
        .card {
            flex: 0 0 var(--card-width);
            &:not(:first-of-type) {
                margin-top: 0;
            }
        }
        @for $i from 1 through 4 {
            &.display-slide-#{$i} {
                transform: translateX(calc(var(--card-width) * -#{$i - 1}));
            }
        }
    }
    .destination & {
        padding-bottom: 3.4rem;
        .slider-navigation {
            font-size: 1.4rem;
            font-family: var(--condensed-font);
            letter-spacing: .236rem;
            top: 19.6rem;
            ul {
                gap: 2.7rem;
            }
            a {
                padding-bottom: .8rem;
                position: relative;
                &:hover,
                &:focus,
                &[aria-current="true"] {
                    &::before {
                        display: block;
                        width: 3.6rem;
                        height: .3rem;
                        margin-left: -1.8rem;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        content: "";
                    }
                }
                &:hover,
                &:focus {
                    &::before {
                        background: var(--secondary-colour-hover);
                    }
                }
                &[aria-current="true"] {
                    color: var(--secondary-colour);
                    &::before {
                        background: var(--secondary-colour);
                    }
                }
            }
        }
    }
    .crew & {
        padding-bottom: 3rem;
        .slider-navigation {
            a {
                opacity: .1744;
                transition: opacity 250ms ease-in;
                &:hover,
                &:focus {
                    opacity: .5;
                }
                &[aria-current="true"] {
                    opacity: 1;
                }
            }
        }
    }
    .technology & {
        margin: 0 -2.4rem;
        .slider-navigation {
            --position: calc(20.4 / 37.5 * 100vw);
            font-size: 1.6rem;
            font-family: var(--serif-font);
            letter-spacing: .1rem;
            color: var(--secondary-colour);
            top: var(--position);
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                aspect-ratio: 1;
                border: 1px solid var(--secondary-colour-inactive-border);
                border-radius: 50%;
                box-sizing: border-box;
                transition: border-color 250ms ease-in;
                &:hover,
                &:focus {
                    border-color: var(--secondary-colour);
                }
                &[aria-current="true"] {
                    color: var(--primary-background);
                    background: var(--secondary-colour);
                    border: none;
                }
            }
        }
        .cards {
            --card-width: 100vw;
            .card {
                flex-basis: calc(var(--card-width) - 4.8rem);
                margin: 0 2.4rem;
            }
        }
    }
    @include css-media-queries ($from-breakpoint: horizontal-menu) {
        --full-width-image-container-margin: 0 -3.85rem;
        --full-width-image-card-margin: 0 3.85rem;
        --full-width-image-card-basis: calc(100vw - 7.7rem - 11.8rem);
        padding-bottom: 0;
        margin: var(--full-width-image-container-margin);
        .cards {
            --card-width: 100vw;
            .card {
                flex-basis: var(--full-width-image-card-basis);
                margin: var(--full-width-image-card-margin);
            }
        }
        .destination & {
            .slider-navigation {
                font-size: 1.6rem;
                letter-spacing: .27rem;
                top: 35.3rem;
            }
        }
        .crew & {
            padding-bottom: 0;
            .cards {
                .card {
                    display: grid;
                    grid-template-rows: repeat(2, auto) 1fr;
                    picture {
                        align-self: flex-end;
                    }
                }
            }
        }
        .technology & {
            padding-bottom: 3.5rem;
            margin: var(--full-width-image-container-margin);
            .slider-navigation {
                --position: calc(36.6 / 76.8 * 100vw);
                font-size: 2.4rem;
                letter-spacing: .15rem;
                a {
                    width: 6rem;
                }
            }
            .cards {
                .card {
                    flex-basis: var(--full-width-image-card-basis);
                    margin: var(--full-width-image-card-margin);
                }
            }
        }
    }
    @include css-media-queries ($from-breakpoint: wide-menu) {
        .cards {
            --card-width: calc(100vw - 16.65rem);
        }
        .destination & {
            margin: 0;
            .cards {
                --card-width: calc(100vw - 16.65rem - 16.3rem);
                .card {
                    flex-basis: var(--card-width);
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .crew & {
            margin-top: auto;
            margin-right: -16.3rem;
            margin-left: 0;
            .slider-navigation {
                top: initial;
                right: initial;
                bottom: 9.4rem;
                ul {
                    gap: 2.4rem;
                }
                svg {
                    width: 1.5rem;
                    aspect-ratio: 1;
                }
            }
            .cards {
                .card {
                    grid-template-rows: repeat(2, auto);
                    flex-basis: var(--card-width);
                    margin: 0;
                }
            }
        }
        .technology & {
            margin-right: -16.3rem;
            margin-left: -16.65rem;
            .cards {
                .card {
                    flex-basis: calc(100vw - (9.75rem * 2));
                    padding: 0;
                    margin: 0 9.75rem;
                    picture {
                        margin-right: -9.75rem;
                        margin-left: -9.75rem;
                    }
                }
            }
        }
    }
    @include css-media-queries ($from-breakpoint: multicol-article) {
        .destination & {
            .slider-navigation {
                top: 0;
                right: initial;
                left: 45.7rem;
            }
        }
        .technology & {
            margin: 0;
            .slider-navigation {
                top: 0;
                right: initial;
                left: 0;
            }
            .cards {
                --card-width: calc(100vw - 16.65rem);
                .card {
                    flex-basis: calc(100vw - 16.65rem);
                    margin: 0;
                    picture {
                        margin: 0;
                    }
                }
            }
        }
    }
    @include css-media-queries ($from-breakpoint: wide-technology-multicol-article) {
        .technology & {
            --card-height: 52.7rem;
            height: var(--card-height);
            padding-bottom: 0;
            margin-bottom: 3.5rem;
            overflow-x: initial;
            overflow-y: hidden;
            .slider-navigation {
                flex-direction: column;
                bottom: 0;
                ul {
                    flex-direction: column;
                    gap: 3.2rem;
                }
                a {
                    width: 8rem;
                }
            }
            .cards {
                flex-direction: column;
                @for $i from 1 through 4 {
                    &.display-slide-#{$i} {
                        transform: translateY(calc(var(--card-height) * -#{$i - 1}));
                    }
                }
                .card {
                    flex-basis: var(--card-height);
                    h2,
                    p {
                        margin-left: 16rem;
                    }
                }
            }
        }
    }
    @include css-media-queries ($from-breakpoint: wide-destination-multicol-article) {
        .destination & {
            .slider-navigation {
                left: 60.2rem;
            }
        }
    }
}